div{
  background-color:brown;
}

#one{
    background:blue;
    border-style:solid;
    border-width:12px:
    border-color:black;
}

.two{
     background: green;
}
#tt{
 color:red;
 border-style:dotted;
}

.tf{
 color:red;
}